h1{
    color: ghostwhite;
}

body{
    background-color: #0F1A20;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 19vmin;
    width: 19vmin;
    border-radius: 1rem;
    border: none;
    font-size: 15vmin;
    font-weight: 500;
    color: #CA054D;
    background-color: #7F95D1;
}

.reset-button{
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    margin-right: 1rem;
}

.new-game-button{
    padding: 1.5rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
    margin-left: 1rem;
}

.message{
    color: ghostwhite;
    font-size: 1.3rem;
}

.hide{
    display: none;
}

.O-color{
    color: green;
}